.Home{
    text-align: center;
}
#header{
    height: 10vh;
    width: 100vw;
    background: linear-gradient(#ebebeb,#ffffff);
}
.btn{
    float: right;
    padding : 8px 20px;
    border: 2px solid #96c1b7;
    cursor: pointer;
    color: #96c1b7;
    font-weight: 500;
    text-decoration: none;
}
.btn:hover{
    background-color: #96c1b7;
    color: #ffffff;
}
#login{
    margin: 3vh 3vw 3vh 0vw;
}
#signup{
    margin: 3vh 10vw 3vh 0vw;
}
