.login{
    text-align: center;
}

#form{
    width:40vw;
    height:90vh;
    margin:5vh 30vw;
    /* box-shadow: 3px 3px 50px 1px rgb(236, 236, 236); */
    border: 1px solid rgb(197, 197, 197);
    border-radius: 8px;
}
input[type=text], select {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgb(197, 197, 197);
    border-radius: 4px;
    box-sizing: border-box;
  }